::ng-deep {
    .mat-toolbar {
        @apply rounded-b-3xl shadow-xl;
    }
}

:host {
    position: sticky;
    top: 0;
    z-index: 9;
}

.logo-container {
    border-radius: 30%;
    border-bottom: groove rgba(244, 165, 246, 0.6);
    // border-bottom: 2mm ridge rgba(244, 165, 246, 0.6);
    span {
        transform: skewX(-5deg);
    }
}

.active-link {
    border-bottom: 1px solid rgba(0,0,0, .3);
    background-color: aquamarine;
}