<mat-toolbar color="primary">
    <mat-toolbar-row class="relative flex justify-center my-2">
        <!-- <span class="logo-container p-2 font-normal flex items-center justify-center"> -->
          <!-- <mat-icon class="text-rose-600">local_florist</mat-icon> -->
          <!-- <span class="ml-2">MarryView</span> -->
        <!-- </span> -->
        <img class="h-14" src="marry-view-logo.svg" alt="Marry view logo">

      <!-- <div class="flex justify-end w-full gap-4">
        @for (actionLink of navActionLinks; track $index) {
          <a [routerLink]="[actionLink.path]" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{ exact: true }"
            class="anchor-nav-element px-2 py-1 rounded-xl flex justify-center items-center text-sm">
            <mat-icon>{{actionLink.iconClass}}</mat-icon>
            <span class="ml-2">{{actionLink.title}}</span>
          </a>
        }
      </div> -->
      </mat-toolbar-row>
</mat-toolbar>